<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <wired-button elevation="3"  @click="count++">count is: {{ count }}</wired-button>
    <p>Edit <code>components/HelloWorld.vue</code> to test hot module replacement.  </p>
  </div>
  <div class="component">
    <div class="form" @keyup.enter="addPerson">
      <vaadin-text-field
        label="First Name"
        :value="currentPerson.firstName"
        @input="currentPerson.firstName = $event.target.value"
      ></vaadin-text-field>
      <vaadin-text-field
        label="Last Name"
        :value="currentPerson.lastName"
        @input="currentPerson.lastName = $event.target.value"
      ></vaadin-text-field>
      <vaadin-button @click="addPerson">Add</vaadin-button>
    </div>
    <vaadin-grid :items.prop="people">
      <vaadin-grid-column path="firstName" header="First name"></vaadin-grid-column>
      <vaadin-grid-column path="lastName" header="Last name"></vaadin-grid-column>
    </vaadin-grid>
  </div>
</template>

<script>
import "@vaadin/vaadin-button";
import "@vaadin/vaadin-grid";
import "@vaadin/vaadin-text-field";
import "wired-button"


class Person {
  constructor() {
    this.firstName = "";
    this.lastName = "";
  }
}
export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data: function() {
    return {
      count: 0,
      people: [],
      currentPerson: new Person()
    };
  },
  methods: {
    addPerson: function() {
      this.people = [...this.people, this.currentPerson];
      this.currentPerson = new Person();
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.form {
  width: 100%;
  padding: 0;
  margin: 0;
}
.form * {
    margin-right: 4px;
}
.component {
  margin: auto;
  padding: 0 15%;
  /* display: flex;
  justify-items: center; */
}

:root {
  --lumo-base-color: #CCC;
}
</style>